apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: example-dev
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io

spec:
  project: default
  source:
    path: infra/helm
    repoURL: https://github.com/Kazeheki/argo-cd-poc.git
    targetRevision: with-secrets
  destination:
    namespace: dev
    server: https://kubernetes.default.svc
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
